@model MvcOnlineTicariOtomasyon.Models.Siniflar.Departman
@{
    ViewBag.Title = "DepartmanEkle";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>DepartmanEkle</h2>

<div class="container-fluid col-8">
    <br />
    <h2>Yeni Departman Sayfası</h2>
    <br />
    <form class="form-group" method="post">
        @Html.LabelFor(x => x.DepartmanAd, new { @class = "form-control label" })
        @Html.TextBoxFor(x => x.DepartmanAd, new { @class = "form-control" })
        <br />
        <button class="btn btn-info">Kaydet</button>
    </form>
</div>
<style>
    body {
        background-color: #212529;
    }

    .textbox {
        color: white;
        background-color: #212529;
    }

    .label {
        color: white;
        background-color: #212529;
        border: #212529;
    }
</style>