@using MvcOnlineTicariOtomasyon.Models.Siniflar;
@model List<Departman>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<br />
<div class="container-fluid col-8">
    <h2 style="color:white">Departmanlar</h2>
    <table class="table table-bordered table-hover table-dark table-striped" style="margin-top: 20px">
        <tr>
            <th>ID</th>
            <th>Departman Adı</th>
            <th>Sil</th>
            <th>Güncelle</th>
            <th>Detaylar</th>
        </tr>
        @foreach (var k in Model)
        {
            <tr>
                <td>
                    @k.DepartmanID
                </td>
                <td>
                    @k.DepartmanAd
                </td>
                <td>
                    <a href="/Departman/DepartmanSil/@k.DepartmanID" class="btn btn-danger">Sil</a>
                </td>
                <td>
                    <a href="/Departman/DepartmanGetir/@k.DepartmanID" class="btn btn-success">Güncelle</a>
                </td>
                <td>
                    <a href="/Departman/DepartmanDetay/@k.DepartmanID" class="btn btn-outline-light">Departman Detay</a>
                </td>
            </tr>
        }
    </table>
    <a href="/Departman/DepartmanEkle" class="btn btn-primary">Departman Ekle</a>
</div>
<style>
    body {
        background-color: #212529;
    }

    .textbox {
        color: white;
        background-color: #212529;
    }

    .label {
        color: white;
        background-color: #212529;
        border: #212529;
    }
</style>
